.landingtest {
background-color: #dc7e9b;
min-width: 100vw;
min-height: 100vh;
}

.herodiv {
    
}

.selector {
    position : absolute;
    z-index: 4;
}

.wheel {
    position : relative;
}

.magicButton {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #dc7e9b;
    z-index: 10;
    position: relative;
  }