@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&family=Junge&family=Montserrat+Alternates:wght@800&display=swap");

/* 
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Junge', serif;
font-family: 'Montserrat Alternates', sans-serif; */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gridLayout {
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-areas:
    "head head"
    "main  main"
    "foot  foot";
  grid-template-rows: 100px 1fr 30px;
  grid-template-columns: 350px 1fr;
  background-color: #282c34;
}

.footer {
  background-color: #dddddd;
  grid-area: foot;
  margin-top: 30px;
}

.linkedin {
  list-style-type: none;
  line-height: 2;
}

.header {
  background-color: #f0f0f0;
  grid-area: head;
  background-image: url("./images/Logo.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.main {
  background-color: #cccccc;
  grid-area: main;
}

.paramsSummary {
  background-color: #cccccc;
  grid-area: nav;
  text-align: left;
}

.paramsSummary h5 {
  font-weight: bold;
}

.parameters {
  font-family: "Junge", serif;
  margin: 15px;
  color: #dc7f9b;
  font-size: 25px;
  font-weight: bold;
}

/* CSS of the question of day */
.answer {
  min-width: 40%;
  height: 75px;
  font-size: large;
  color: black;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}
button {
  cursor: pointer;
}
.buttonStart {
  background-color: "blue";
  cursor: "pointer";
  font-size: "large";
  width: "30%";
  height: "45px";
  color: "white";
  font-weight: "bold";
}

.daily-question {
  margin-top: 15px;
  color: #dc7f9b;
  font-family: "Junge", serif;
  font-size: 25px;
  font-weight: bold;
}

.question-style {
  font-size: 25px;
  font-weight: bold;
  color: black;
  font-family: "Hind Siliguri", sans-serif;
}

.question-category {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.category-name {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  text-transform: capitalize;
}

.test {
  border: solid 4px #f6b83c !important;
  font-family: "Junge", serif;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 10px 5px 5px grey;
}
.bordureCardReponse {
  border: 4px solid #f6b83c !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.largeBtn {
  background-color: #dc7f9b !important;
}


/* /////////////////////////Parametres/////////////////////////////////// */

.player-info{
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px; 
  margin: 10px;
  text-align: center;
}

.input-style{
  font-family: "Hind Siliguri", sans-serif;
  padding: 5px;
  border-radius: 12px;
  background-color: white;
  text-align: center;
  align-items: center;
}

.button-style {
color: white;
padding: 10px;
border:0.1em solid #43404F;
margin: 10px;
border-radius: 12px;
box-sizing: border-box;
font-family: "Hind Siliguri", sans-serif;
font-size: 20px;
color: white;
background-color:#DC7F9B;
text-align:center;
  }


/****************************************** */
/* CSS stats                                */
/****************************************** */

@import url(//db.onlinewebfonts.com/c/831e1041c97169ac1d4dc3d161b235cc?family=Burbank+Big+Condensed);

.cardContainer{
  display: flex;
  flex-wrap: wrap;
}

.questionCard {  
  background-color: #f0f0f0;
  border-radius: 10px;
  border-style: solid;
  border-color: #f6b83c;
  border-width: 20px;
  margin: 10px;
  box-shadow: black;
  box-shadow: 0px 0px 5px #0d080b;
  width: 350px;
}

.questionCard .questionCategory {
  background-color: #0d080b;
  color:#f0f0f0;
 font-family: "Burbank Big Condensed";
 font-size: xx-large;
 font-weight: bold; 
}

.questionCard .questionDifficulty {
  background-color: #0d080b;
  color:#f0f0f0;
 font-family: "Burbank Big Condensed";
 font-size: xx-large;
 
}

.correctAnswer {
  color: green;
  font-weight: bold;
}

.incorrectAnswer {
  color: red;
  font-weight: bold;
}

/* palette graphique */
.colors {
  color: #f0f0f0;
  color: #dc7f9b;
  color: #f6b83c;
  color: #43404f;
  color: #0d080b;
}
/************************ */
/* /////////////////////////Modal//////////////////////////// */

.modal-answer{
  font-family: "Hind Siliguri", sans-serif;
  color: black;
}